name: cd

on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Helm
        run: |
          if ! command -v helm &> /dev/null; then
            echo "Helm not found, installing..."
            curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
            chmod 700 get_helm.sh
            ./get_helm.sh
          else
            echo "Helm is already installed."
          fi

      - name: Deploy to Kind
        run: |
          # Use the SHA from the CI workflow that just completed
          SHA_SHORT=$(echo ${{ github.event.workflow_run.head_sha }} | cut -c1-7)
          
          helm upgrade --install python-app ./charts/python-app \
            --set image.tag=$SHA_SHORT \
            --namespace python \
            --create-namespace
